html, body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    margin: 1em;
    background-color: #EEE;
    font-size: 100%;
    height:100%;
    text-align: center;
}

h2 {
    border-bottom: solid black;
    border-width: 2px;
}

div#calendar {
    height:80%;
}


.calendar{
    
    border:groove #6495ED;
    border-width:5px;
    border-radius: 10px;
   
    background-color:#AFEEEE;
    
    width:80%;  
    height:95%;
    padding:4px;
    border-spacing:4px;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

.calendar td {
    
    border: groove #6495ED;
    border-width:2px;
    border-radius: 4px;
    vertical-align: top;
    text-align: right;
    
    width:10%;
    height:15%;
    
}

.dayNames td {
    background-color: #EEE;
    width:10%;
    height:10%;
    text-align: center;
}
.dayNames tr {
    margin: 0 auto;
}
.dayNames {
    width:80%;
    margin: 0 auto;
    padding:4px;
}

.hover {
    background-color:gold;
}

.evt {
    font-size: 60%;
    text-align: left;
}
.pass {
    background-color:grey;
}
.today {
    background-color: #FFDEAD;
}